/* HEADER AND BODY */

* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  margin: 0;
}

.section-1 {
  background-image:
    url(images/ellipse_3.png),
    url(images/Ellipse_4.png),
    url(images/Ellipse_6.png),
    url(images/ellipse_11.png),
    url(images/Rectangle_4.png),
    url(images/Rectangle_6.png),
    url(images/Rectangle_5.png),
    url(images/Rectangle_7.png),
    url(images/ellipse_12.png),
    url(images/Ellipse_8.png),
    url(images/Ellipse_13.png),
    url(images/Ellipse_2.png),
    url(images/ellipse_7.png),
    url(images/ellipse_5.png);
  background-position-x: 116%, 71.9%, 6%, -4%, 107.5%, -8%, 67%, 30%, 87%, 85%, 86%, 70%, 14%, 29.8%;
  background-position-y: 22%, 93%, 90%, 15%, 16.4%, 13%, 95%, 20%, 73%, 43%, 74.9%, 14%, 91%, 21%;
  background-repeat: no-repeat;
  background-color: white;
}

.logo {
  color: #6070ff;
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

header a {
  text-decoration: none;
}

.icon {
  float: right;
}

.mobile-hidden {
  display: none;
}

.bio-section {
  display: flex;
  flex-direction: column;
  padding: 150px 40px;
  font-family: "Poppins", sans-serif;
}

.bio-section h1 {
  font-size: 300%;
  margin-bottom: 0;
}

.bio-section p {
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
}

.bio-section a {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin: 10px 0;
  color: #6070ff;
}

.social-image {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 50%;
  margin-bottom: 15px;
  padding-left: 0;
  list-style: none;
}


/* DESKTOP */
@media only screen and (min-width: 768px) {

  .section-1 {
    background-image:
      url(images/ellipse_3.png),
      url(images/Ellipse_4.png),
      url(images/Ellipse_6.png),
      url(images/ellipse_11.png),
      url(images/Rectangle_4.png),
      url(images/Rectangle_6.png),
      url(images/Rectangle_5.png),
      url(images/Rectangle-17.png),
      url(images/ellipse_12.png),
      url(images/Ellipse_8.png),
      url(images/Ellipse_13.png),
      url(images/Ellipse_2.png),
      url(images/ellipse_7.png),
      url(images/ellipse_5.png);
    background-position-x: 98%, 56%, 30%, 2%, 95%, 0.7%, 54%, 50%, 6%, 30%, 5%, 78%, 70%, 50%;
    background-position-y: 22%, 88%, 15%, 15%, 16.6%, 12.8%, 90%, 19.8%, 90.1%, 15%, 91.9%, 76%, 15%, 21%;
    background-repeat: no-repeat;
    background-color: white;
    border-bottom-left-radius: 50px;
  }

  .desktop-hidden {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }

  /* header {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  } */

  .logo {
    /* width: 50%; */
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .icon-div {
    width: 50%;
  }

  .nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
  }

  .nav-links ul li {
    flex: 1;
  }

  .nav-links ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav-link {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #6070ff;
    display: inline-block;

  }

  .social-image {
    width: 30%;

  }
}