* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.stage_1 {
  background-image:
    url(images/ellipse_3.png),
    url(images/Ellipse_4.png),
    url(images/Ellipse_6.png),
    url(images/ellipse_11.png),
    url(images/Rectangle_4.png),
    url(images/Rectangle_6.png),
    url(images/Rectangle_5.png),
    url(images/Rectangle_7.png),
    url(images/ellipse_12.png),
    url(images/Ellipse_8.png),
    url(images/Ellipse_13.png),
    url(images/Ellipse_2.png),
    url(images/ellipse_7.png),
    url(images/ellipse_5.png);
  background-position-x: 116%, 71.9%, 6%, -4%, 107.5%, -8%, 67%, 30%, 87%, 85%, 86%, 70%, 14%, 29.8%;
  background-position-y: 22%, 93%, 90%, 15%, 16.4%, 13%, 95%, 20%, 73%, 43%, 74.9%, 14%, 91%, 21%;
  background-repeat: no-repeat;
  background-color: white;
}

.logo {
  color: #6070ff;
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

header a {
  text-decoration: none;
}

.icon {
  float: right;
}

.section-1 {
  display: flex;
  flex-direction: column;
  padding: 150px 40px;
  font-family: "Poppins", sans-serif;
}

.section-1 h1 {
  font-size: 300%;
  margin-bottom: 0;
}

.section-1 p {
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
}

.section-1 a {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin: 10px 0;
  color: #6070ff;
}

.social-image {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 50%;
  margin-bottom: 15px;
  padding-left: 0;
}

.work_section {
  display: grid;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid silver;
  margin: 60px 30px;
  background-color: white;
}

.img_2 {
  width: 90%;
  margin: 20px 20px;
  /* order: 888; */
}

.img-tag {
  visibility: hidden;
}


/* .head-tag {
  visibility: hidden;
} */

.p-tag2 {
padding-bottom: 10px;
width: 295px;
height: 76px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 24px;
color: #344563;
}



ul li {
  display: inline-block;
  padding-left: 0;
}

form ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-image li {

}

.section_1 ul li {
  padding-top: 10px;
  padding-bottom: 12px;
}

.list-tag2 li {
  

}


/* .p-tag2 {
  visibility: hidden;
} */

/* .img-tag2 {
 visibility: hidden;
} */

.mobile-hidden {
  display: none;
}




/* .list-tag{
  visibility: hidden;
} */

.section_1 button {
  background: #ebebff;
  color: #7f8cff;
  border-radius: 8px;
  border: none;
}

.btn_3 {
  width: 45px;
  height: 20px;
  text-align: center;
}

.btn_4 {
  width: 40px;
  height: 20px;
  margin-left: 4px;
  text-align: center;
}

.btn_5 {
  width: 80px;
  height: 20px;
  margin-left: 4px;
  text-align: center;
}

#d-23 {
  visibility: hidden;
}

.head_2 {
  padding-bottom: 30px;
}

.list_3 {
  margin-left: 10px;
}

.container_2 {
  background-color: white;
  border-top-right-radius: 50px;
}

.section_2 {
  display: inline-block;
  flex-direction: column;
  padding: 8px 20px;
  margin-top: 70px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.section_2 h2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 327px;
  height: 101px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.section_2 p {
  margin-bottom: 10px;
  width: 327px;
  height: 144px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect_1 {
  margin-bottom: 50px;
  text-decoration: none;
  width: 117px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-top: 18px;
}

.btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 45px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #396df2;
  margin-left: 10px;
}

.btn:hover {
  background-color: #6070ff;
  color: #fff;
}

.btn:active {
  background-color: #2230d2;
  color: #fff;
}

.btn:disabled {
  background-color: #ebebff;
  color: #7a869a;
}

.div-7 a {
  display: flex;
  padding-left: 20px;
  margin-top: 40px;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  margin-bottom: 20px;
}

.faa-1 {
  padding-left: 50%;
}

#faa-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 20px;
  background: #f7f7f9;
  padding-left: 80px;
  color: #253858;
  margin-right: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 20px;
  width: 350px;
  height: 62px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-image: url(images/Ellipse-23.png);
  background-position-x: 3%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.div-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 20px;
  background: #f7f7f9;
  padding-left: 80px;
  border-radius: 8px;
  color: #253858;
  margin-right: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 20px;
  width: 350px;
  height: 62px;
  margin-bottom: 10px;
  background-image: url(images/Ellipse_22.png);
  background-position-x: 3%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.div-2 a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #253858;
}

.div-3 a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #253858;
}

.div-5 a {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  margin-top: 40px;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  margin-bottom: 20px;
}

.div-6 a {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  margin-top: 40px;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  margin-bottom: 20px;
}

#faa-2 a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #253858;
}

.div-3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 20px;
  background: #f7f7f9;
  padding-left: 80px;
  border-radius: 8px;
  color: #253858;
  margin-right: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 20px;
  width: 350px;
  height: 62px;
  margin-bottom: 10px;
  background-image: url(images/Ellipse_21.png);
  background-position-x: 3%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.link1 {
  padding-left: 50%;
}

.link2 {
  padding-left: 65%;
}

hr {
  margin-left: 10px;
  width: 93%;
  position: absolute;
}

.section-form {
  background: #6070ff;
  border-top-left-radius: 60px;
  margin-top: 30px;
  background-image:
    url(images/Rectangle-4.png),
    url(images/Ellipse-3.png),
    url(images/Ellipse-12.png);
  background-position-x: 100%, 100%, 43%;
  background-position-y: 5.3%, 8.3%, 9%;
  background-repeat: no-repeat;
}

.form-div {
  text-align: center;
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  padding-top: 90px;
  color: #fff;
}

.form-div h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.form-div p {
  padding: 25px;
  margin: 10px 20px 0;
  font-weight: 200px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

form {
  display: flex;
  outline: none;
  width: 95%;
  height: 95%;
  margin-left: 20px;
  margin-top: 30px;
  background-image:
    url(images/Rectangle-7.png),
    url(images/Ellipse-5.png);
  background-position-x: 88%, 81.9%;
  background-position-y: 87%, 86%;
  background-repeat: no-repeat;
}

form input {
  margin: 5px;
  padding: 10px;
  outline: none;
  width: 85%;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

form textarea {
  margin: 5px;
  padding: 10px;
  outline: none;
  width: 85%;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

.form-button {
  position: relative;
  text-align: center;
  border-radius: 8px;
  margin-top: 10px;
  width: 150px;
  height: 45px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 150px;
  line-height: 24px;
  background-color: #fff;
  border: 1px solid #6070ff;
  color: #6070ff;
  margin-bottom: 15px;
  letter-spacing: 0.03em;
  cursor: pointer;
  margin-right: 57%;
}

.form-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.form-button:active {
  background-color: #2230d2;
  color: #fff;
}

.form-button:disabled {
  background-color: #ebebff;
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

form img {
  margin-bottom: 10px;
  height: 3px;
  border-radius: 8px;
}

.port-1 {
  visibility: hidden;
} 

.img-tag1 {
visibility: hidden;
}
 
.img-tag-4 {
  visibility: hidden;
}


.section_1 {
  visibility: visible;
}





/* NEW */





.section-3-container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.section-3-mobile-container {
  display: inline-block;
  flex-direction: column;
  padding: 2px 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.section-3-mobile-container h2 {
  width: 295px;
  height: 65px;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  color: #172b4d;
}

.section-3-mobile-container img {
  width: 100%;
}

.section-3-mobile-container li:first-of-type {
  /* width: 60px; */
  /* height: 25px; */
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.section-3-mobile-list img {
  width: 8px;
  height: 8px;
  color: #7a869a;
}


.section-3-mobile-container ul {
  margin-bottom: 5px;
  padding-left: 0;
}

.section-3-mobile-container li {
  /* margin-bottom: 5px; */
  display: inline-block;
  padding-left: 0;
}

.section-3-mobile-list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 50%;
}

.section-3-mobile-container .p-tag1 {
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #344563;
}

.btn_2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  color: #7f8cff;
  border: 1px solid #7f8cff;
  width: 115px;
  height: 40px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background-color: white;
}



@media only screen and (min-width: 768px) {

  .desktop-hidden {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }

  header {
    position: fixed;
    box-shadow: 0 0.25px 10px 0 rgb(0, 0, 255,0.2);
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
  }

  .icon {
    visibility: hidden;
  }

  .port-1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #6070ff;
    visibility: visible;
  }

  .stage_1 {
    background-image:
      url(images/ellipse_3.png),
      url(images/Ellipse_4.png),
      url(images/Ellipse_6.png),
      url(images/ellipse_11.png),
      url(images/Rectangle_4.png),
      url(images/Rectangle_6.png),
      url(images/Rectangle_5.png),
      url(images/Rectangle-17.png),
      url(images/ellipse_12.png),
      url(images/Ellipse_8.png),
      url(images/Ellipse_13.png),
      url(images/Ellipse_2.png),
      url(images/ellipse_7.png),
      url(images/ellipse_5.png);
    background-position-x: 98%, 56%, 30%, 2%, 95%, 0.7%, 54%, 50%, 6%, 30%, 5%, 78%, 70%, 50%;
    background-position-y: 22%, 88%, 15%, 15%, 16.6%, 12.8%, 90%, 19.8%, 90.1%, 15%, 91.9%, 76%, 15%, 21%;
    background-repeat: no-repeat;
    background-color: white;
    border-bottom-left-radius: 50px;
  }


  .social-image {
    width: 20%;
    margin-left: 0px;
  }
.container {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

  #section_10 {
    visibility: visible;
    order: 2;

  }

  .div-image {
    width: 70%;
    height: 70%;
    order: 1;
    margin-top: -15%;
    margin-bottom: -6%;
    margin-left: 40px;
    
  }

  .img-tag {
    position: inherit;
    visibility: visible;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 12%;
    margin-top: -90%;

  }

  #section_10 h2 {
  width: 295px;
  height: 65px;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  color: #172b4d;
  margin-top: 15%;
  margin-bottom: -10%;
  margin-left: -3%;
  }

#section_10 {
  margin-left: -30%;
  margin-top: 2%;
  margin-bottom: 10%;
}

  .btn_2 {
    margin-left: -1%;
  }

  #section_10 p {
  padding-bottom: 20px;
  margin-top: -30%;
  width: 295px;
  height: 76px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #344563;
  }

  #section_22 {
   order:1;
   border: 4px solid #000;
  }

  #section_22  h2 {
 margin-left: 50px;
 margin-top: 70px;
 font-size: 40px;
 font-weight: 600;
 margin-bottom: -5%;

  }

  #section_22 p {
    margin: -15% 0 60px 50px;
  }

  #section_22 button {
    margin-left: 50px;
    margin-right: -10%;
  }

  #section_22 li {
 margin-right: -10%;
  }

  .d-22, .d-23, .d-24, .d-25 {
    visibility: visible;
    background: #ebebff;
  color:  #6070ff;
  border-radius: 8px;
  border: none;
  }

  .div-image-1 {
    width: 40%;
    height: 60%;
    order: 2;
    margin-bottom: -10%;
    margin-top: 80px;
    margin-left:  18%;
  }

  .img-tag1 {
    position: inherit;
    visibility: visible;
    max-width: 100%;
    max-height: 100%;
    margin-top: -150%;
    margin-bottom: 28%;
    margin-left: 40px;
  }


  .list_15 {
    margin-left: -11%;
    padding-left: 10%;
   }


 /* sectin3*/

.section-3-left {
    padding: 10px;
    width: 50%;
 }

   .section-3-left img {
    width:100%;
    height:100%
   }

   .section-3-right {
    width: 50%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    padding-left: 40px;
   }

   .section-1 {
    display: flex;
   }

  .img-tag2 {
    position: inherit;
    max-width: 100%;
    max-height: 100%;
    visibility: visible;
    margin-top: -160%;
    margin-bottom: 5%;
  }

.section-3-right ul {
  padding-left: 0px;
  font-size:18px;
  font-weight: 400px;
}

.section_3 li:first-of-type {
  font-weight: 500px;
}

.p-tag2 {
  /* padding-bottom: 10px; */
  width: 80%;
  height: auto;
  /* font-family: 'Poppins', sans-serif; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  }

#btn-50 {
background-color: #2230d2;
color: #e5e5e5;
margin-left: 0%;
}
.img-tag-4 {
  visibility: visible;
}
#section-60 {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.section-61 {
  order: 1;
}

.div-img-5 {
  width: 40%;
  height: 75%;
  order: 2;
  margin-left: 27%;
  margin-top: 60px;
}

.img-tag-4 {
  visibility: visible;
  display: inline;
  position: relative;
  margin-top: -100%;
  margin-bottom: 29%;
  width: 100%;
  height: 100%;
}

#section-60  h2 {
margin-top: -4px;
margin-left: 30px;
margin-bottom: -40px;
}

#section-60 p {
  margin-left: 30px;
  margin-top: -50px;
  margin-bottom: 40px;
}

#section-60 li {
  display: inline;
  margin-left: -18%;
  padding-right: 4%
}

.d-62, .d-63, .d-64, .d-65 {
background: #ebebff;
color:  #6070ff;
border-radius: 8px;
border: none;
margin-right: -6%;
}

#section-60 button {
  margin-left:30px ;
}

/* .h2-tag { 
 visibility: hidden;
} */

/* .head-tag {
  visibility: visible;
} */

  /* .p-tag2 {
    visibility: visible;
  } */

  /* .p-tag1 {
    visibility: hidden;
  } */

  /* .head-3 {
    visibility: visible;
  } */

  /* .list-ul {
    visibility: hidden;
  } */

  #d-23 {
    /* visibility: visible; */
    width: 100px;
    height: 20px;
   margin-left: 4px;
   text-align: center;
  }

  .list-tag2 li {
    margin-bottom: 30%;
  }

  .section-3-container {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 1px solid silver;
    justify-content: space-between;
    background-color: white;
  }

  /* .list_12 {
   margin-left: -17%;
   padding-top: -150%
  } */

  /* .list-tag >li {
    visibility: visible;
  } */

/*.img-tag {
  display: inline;
  width: 100%;
  height: 100%;
  margin-top: -100%;
  visibility: visible;
  margin-left: 10px;
  margin-bottom: 29%;
}*/

 /* .img_2 {
  visibility: hidden;
 } */

 /* .section_1 {
  visibility: hidden;
 } */

}

