/* HEADER AND BODY */

* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  margin: 0;
}

.section-1 {
  background-image:
    url(images/ellipse_3.png),
    url(images/Ellipse_4.png),
    url(images/Ellipse_6.png),
    url(images/ellipse_11.png),
    url(images/Rectangle_4.png),
    url(images/Rectangle_6.png),
    url(images/Rectangle_5.png),
    url(images/Rectangle_7.png),
    url(images/ellipse_12.png),
    url(images/Ellipse_8.png),
    url(images/Ellipse_13.png),
    url(images/Ellipse_2.png),
    url(images/ellipse_7.png),
    url(images/ellipse_5.png);
  background-position-x: 116%, 71.9%, 6%, -4%, 107.5%, -8%, 67%, 30%, 87%, 85%, 86%, 70%, 14%, 29.8%;
  background-position-y: 22%, 93%, 90%, 15%, 16.4%, 13%, 95%, 20%, 73%, 43%, 74.9%, 14%, 91%, 21%;
  background-repeat: no-repeat;
  background-color: white;
}

.logo {
  color: #6070ff;
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  box-shadow: 0 0.25px 8px 0 rgb(0, 0, 255, 0.2);
  position: fixed;
  width: 100%;
}

header a {
  text-decoration: none;
}

.icon {
  float: right;
}

.mobile-hidden {
  display: none;
}

.desktop-hidden {
  display: block;
}

.bio-section {
  display: flex;
  flex-direction: column;
  padding: 150px 40px;
  font-family: "Poppins", sans-serif;
}

.bio-section h1 {
  font-size: 300%;
  margin-bottom: 0;
}

.bio-section p {
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
}

.bio-section a {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin: 10px 0;
  color: #6070ff;
}

.social-image {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 50%;
  margin-bottom: 15px;
  padding-left: 0;
  list-style: none;
}

.card {
  background: white;
  display: flex;
  border-radius: 20px;
  border: 1px solid silver;
  padding: 40px;
  margin: 60px 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.mobile-card {
  flex-direction: column;
}

form img {
  margin-bottom: 10px;
  height: 3px;
  border-radius: 8px;
}

.card-img-div img {
  width: 100%;
}

.card h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.card-highlights {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: baseline;
  width: 250px;
}

.card-highlights img {
  width: 8px;
  height: 8px;
  color: #7a869a;
}

.card-tags {
  background: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  border: none;
}

.card-btn {
  color: #7f8cff;
  border: 1px solid #7f8cff;
  width: 115px;
  height: 40px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background-color: white;
  border-radius: 8px;
}

.card-details-div div {
  margin-bottom: 15px;
}

.desktop-card {
  display: none;
}

.about-section {
  background-color: white;
  border-top-right-radius: 60px;
}

.about-section .card-btn {
  width: 150px;
}

.about-section .bio-section {
  padding-bottom: 0;
}

.skills-section {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.language-div {
  display: flex;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 10px;
  align-items: center;
  padding: 10px;
}

.language-div div:first-of-type {
  margin-right: 15px;
}

#languages {
  width: 100%;
}

.section-form {
  background: #6070ff;
  border-top-left-radius: 60px;
  margin-top: 30px;
  background-image:
    url(images/Rectangle-4.png),
    url(images/Ellipse-3.png),
    url(images/Ellipse-12.png);
  background-position-x: 100%, 100%, 43%;
  background-position-y: 5.3%, 8.3%, 9%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.form-div {
  text-align: center;
  margin-top: px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  padding-top: 30px;
  color: #fff;
}

.form-div h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.form-div p {
  padding: 25px;
  margin: 10px 20px 0;
  font-weight: 200px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: none;
  height: 95%;
  margin-left: 20px;
  margin-top: 30px;
  background-image:
    url(images/Rectangle-7.png),
    url(images/Ellipse-5.png);
  background-position-x: 73%, 70%;
  background-position-y: 83%, 83%;
  background-repeat: no-repeat;
}

form input {
  margin: 5px;
  padding: 10px;
  outline: none;
  width: 85%;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

form textarea {
  margin: 5px;
  padding: 10px;
  outline: none;
  width: 85%;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

.form-button {
  position: relative;
  text-align: center;
  border-radius: 8px;
  margin-top: 10px;
  width: 150px;
  height: 45px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 150px;
  line-height: 24px;
  background-color: #fff;
  border: 1px solid #6070ff;
  color: #6070ff;
  margin-bottom: 15px;
  letter-spacing: 0.03em;
  cursor: pointer;
  margin-right: 57%;
}

.form-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.form-button:active {
  background-color: #2230d2;
  color: #fff;
}

.form-button:disabled {
  background-color: #ebebff;
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

form ul li {
  list-style: none;
}

#form-btn {
  align-self: flex-start;
  margin-left: 17%;
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
  .section-1 {
    background-image:
      url(images/ellipse_3.png),
      url(images/Ellipse_4.png),
      url(images/Ellipse_6.png),
      url(images/ellipse_11.png),
      url(images/Rectangle_4.png),
      url(images/Rectangle_6.png),
      url(images/Rectangle_5.png),
      url(images/Rectangle-17.png),
      url(images/ellipse_12.png),
      url(images/Ellipse_8.png),
      url(images/Ellipse_13.png),
      url(images/Ellipse_2.png),
      url(images/ellipse_7.png),
      url(images/ellipse_5.png);
    background-position-x: 98%, 56%, 30%, 2%, 95%, 0.7%, 54%, 50%, 6%, 30%, 5%, 78%, 70%, 50%;
    background-position-y: 22%, 88%, 15%, 15%, 16.6%, 12.8%, 90%, 19.8%, 90.1%, 15%, 91.9%, 76%, 15%, 21%;
    background-repeat: no-repeat;
    background-color: white;
    border-bottom-left-radius: 50px;
  }

  .desktop-hidden {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .icon-div {
    width: 50%;
  }

  .nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
  }

  .nav-links ul li {
    flex: 1;
  }

  .nav-links ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav-link {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #6070ff;
    display: inline-block;
  }

  .social-image {
    width: 30%;
  }

  .desktop-card {
    display: flex;
    flex-direction: row;
  }

  .mobile-card {
    display: none;
  }

  .desktop-card > div {
    width: 50%;
  }

  .desktop-card > div:nth-child(2) {
    width: 50%;
    margin-left: 40px;
  }

  .desktop-card > div {
    width: 50%;
  }

  .card-highlights {
    padding-left: 0;
    width: 250px;
  }

  .about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
  }

  .about-section .bio-section {
    width: 50%;
    padding-top: 0;
  }

  .about-section .skills-section {
    width: 50%;
  }

  .language-div {
    flex-direction: column;
    margin-right: 20px;
  }

  #languages {
    width: auto;
  }

  #lo {
    display: flex;

    /* justify-content: space-between; */
  }

  #form-btn {
    margin: 0 auto;
  }

  .section-form {
    background: #6070ff;
    border-top-left-radius: 60px;
    margin-top: 30px;
    background-image:
      url(images/Rectangle-44.png),
      url(images/Ellipse-33.png),
      url(images/Ellipse-12.png);
    background-position-x: 88%, 90%, 25%;
    background-position-y: 7.9%, 12%, 9%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: none;
    height: 95%;
    margin-left: 20px;
    margin-top: 30px;
    background-image:
      url(images/Rectangle-7.png),
      url(images/Ellipse-5.png),
      url(images/Rectangle_6.png),
      url(images/Ellipse-22.png),
      url(images/Ellipse-13.png);
    background-position-x: 10%, 10.4%, 20.5%, 22%, 75%;
    background-position-y: 10%, 14.9%, 98%, 97%, 50%;
    background-repeat: no-repeat;
  }

  .form-div {
    margin-top: 50px;
  }

  .z-section-4 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
